<div class="signup-container">
    <form (ngSubmit)="processForm()" data-toggle="validator" [formGroup]="form" class="form-horizontal">
        <h4>טופס רישום מייצגים
            <span title="logout" [class.hide]="hide==true" class='back'>
              <a (click)="doLogout()" href="#">
                  <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>
              </a>
            </span>
        </h4>
        <div  [class.hide-alert]="!isSuccess" class="alert alert-success">
            <strong>Success!</strong> signup was succesful. you are redirected to Login
        </div>
        <div [class.hide-alert]="!isError" class="alert alert-danger">
            <strong>Check your data ! </strong> error was occured
        </div>
        <div class="content-container">
            <div class="form-group">
                <label for="firstName" class="col-sm-3 control-label">Full Name</label>
                <div class="col-sm-9">
                    <input type="text" required id="firstName" name="name" placeholder="Full Name" formControlName="name" class="form-control" autofocus>
                    <span class="help-block" *ngIf="formErrors.name">
                        {{ formErrors.name }}
                        </span>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-3 control-label">Email</label>
                <div class="col-sm-9">
                    <input type="email" required name="email" id="email" placeholder="Email" class="form-control" formControlName="email">
                    <span class="help-block" *ngIf="formErrors.email">
                             {{ formErrors.email }}
                        </span>
                </div>
            </div>
            <div class="form-group container">
                <div class="row password">
                    <label for="inputPassword" class="col-sm-3 control-label">Password</label>
                    <div class="form-group col-sm-4">
                        <input type="password" required name="password" class="form-control" id="inputPassword" formControlName="password" placeholder="Password">
                        <span class="help-block" *ngIf="formErrors.password">
                             {{ formErrors.password }}
                        </span>
                    </div>
                    <div class="form-group col-sm-4">
                        <input type="password" required name="confirm" class="form-control" id="inputPasswordConfirm" formControlName="confirm" placeholder="Confirm">
                        <span class="help-block" *ngIf="formErrors.confirm">
                             {{ formErrors.confirm }}
                        </span>
                        <div class='form-text error' *ngIf="form.controls.confirm.touched">
                            <div *ngIf="form.hasError('mismatchedPasswords')">Passwords do not match.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="birthDate" class="col-sm-3 control-label">Date of Birth</label>
                <div class="col-sm-9">
                    <input type="date" id="birthDate" class="form-control" formControlName="birthDate">
                    <span class="help-block" *ngIf="formErrors.birthDate">
                             {{ formErrors.birthDate }}
                        </span>
                </div>
            </div>
            <div class="form-group">
                <label for="country" class="col-sm-3 control-label">region</label>
                <div class="col-sm-9">
                    <select id="country" class="form-control">
                            <option>Gush dan</option>
                            <option>Negev</option>
                            <option>North</option>
                            <option>Eilat</option>
                            <option>Shomron</option>
                            <option>Jerusalem</option>
                        </select>
                </div>
            </div>
            <!-- /.form-group -->
            <div class="form-group">
                <label class="control-label col-sm-3">Gender</label>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="radio-inline">
                                    <input type="radio" id="femaleRadio" value="Female">Female
                                </label>
                        </div>
                        <div class="col-sm-4">
                            <label class="radio-inline">
                                    <input type="radio" id="maleRadio" value="Male">Male
                                </label>
                        </div>
                        <div class="col-sm-4">
                            <label class="radio-inline">
                                    <input type="radio" id="uncknownRadio" value="Unknown">Unknown
                                </label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.form-group -->

            <div class="form-group">
                <div class="col-sm-offset-2">
                    <div class="checkbox">
                        <label>
                                <input id="acceptence" type="checkbox">I accept <a href="#">terms</a>
                        </label>
                    </div>
                </div>
            </div>
            <!-- /.form-group -->
            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <button type="submit"  class="btn  btn-primary btn-block">Register</button>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- ./container -->